body {
    background-color: LightGray;
}
div, section, td {
    border: 1px solid Chocolate;
}

/*Everything above is just for development to see the secctions/divs*/
html{
	box-sizing:border-box;
}

.font-two {
	font-family: 'Slabo 27px', serif;
	font-weight:500;
}
h1 {
	text-align:center;
}
.content {
	margin:0 auto;
	font-family: 'Raleway', sans-serif;
}

.content h1 {
	font-size:4rem;
	margin-top:1rem;
}

.projects .transparent-box {
	font-size:1.8rem;
	width:25rem;
	height:4.7rem;
	text-align:center;
	margin:0 auto;
	margin-top:1rem;
}

.transparent-box h1 {
	margin:0 auto;
}


.transparent-box {
	background: rgba(248, 247, 216, 0.7);
}


.main-page h3 {
	font-size:2.5rem;
	margin-top:-2rem;
}

.main-page > .content {
	background-image:url('http://i.imgur.com/rrKeLbO.jpg');
	background-size:cover;
	width:100%;
	height:40em;
	color:white;
	text-shadow: 1px 1px 1px #000, 3px 3px 5px black;

}

.main-page div {
	text-align:center;
	width:27rem;
	height:10rem;
	margin:0 auto;
	margin-top:6rem;
	letter-spacing:.3rem;
	background: rgba(0, 0, 0, 0.7);
}

.project-names {
	width:100%;
	text-align:center;
}

.about-me-screen {
	background-image:url('http://i.imgur.com/mjw2xOA.png');
	background-size:cover;
	height:20rem;
}

.ny-times-screen {
	background-image:url('http://i.imgur.com/jWCfukx.png');
	background-size:cover;
	height:20rem;
}

.karma-screen {
	background-image:url('http://i.imgur.com/gorEnTO.png');
	background-size:cover;
	height:20rem;
}

tr:hover {
	cursor:pointer;
}

