
div, section, td {
    border: 1px solid white;
}

/*Everything above is just for development to see the sections/divs*/
html{
	
	text-shadow: 1px 1px 1px #000, 3px 3px 5px black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing:border-box;
}

.font-two {
	font-family: 'Slabo 27px', serif;
	font-weight:500;
	letter-spacing:.1rem;
	font-size:1.5rem;
	text-shadow:none;
}

.content {
	margin:0 auto;
	font-family: 'Raleway', sans-serif;
}

.content h1 {
	font-size:4rem;
	margin-top:1rem;
}
.projects > .transparent-box {
	margin:1rem;
}
.transparent-box h1 {
	margin:.8rem;
	font-weight:200;
	letter-spacing:.3rem;
	font-size:3rem;
	text-align:center;
}
.transparent-box {
	background: rgba(224, 224, 224, 0.6);
	border-width:thin;
	border-color:LightGray;
}
.main-page > .content {
	background-image:url('http://i.imgur.com/rrKeLbO.jpg');
	background-size:cover;
	width:100%;
	height:40em;
	color:white;
}
.main-page div {
	text-align:center;
	width:27rem;
	height:10rem;
	margin:0 auto;
	margin-top:6rem;
	letter-spacing:.3rem;
	background: rgba(0, 0, 0, 0.7);
}

.container {
	display:flex;
	width:100%;
	justify-content:center;
	align-items: center;
	flex-wrap:wrap;
}

.project-names {
	text-align:center;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	height:40rem;
	margin:0 auto;
	width:28%;
	justify-content:center;
	align-items:center;
}
.project-text {
	width:30rem;
	height:3rem;
	color:black;
	font-weight:400;
	border-width:thin;
	border-color:white;
	font-family: 'Raleway', sans-serif;
	background: rgba(224, 224, 224, 1);
	text-shadow: none;
	margin-top:1rem;
}
.project-names div {
		height:30rem;
		width:30rem;
}
.project-names img {
	max-width:100%;
	height:auto;
	
}


a {
	text-decoration:none;
}




.contact-me h4 {
	
	text-align:center;
	margin-top:7rem;
	font-family: 'Raleway', sans-serif;
}

.contact-me {
	text-shadow: none;

}

.contact-me .content {
	text-align:center;
	margin:2rem;
	font-weight:300;
}

.fa-square {
	color:rgba(224, 224, 224, 5);
}

.fa:hover {
	cursor:pointer;
}

.fa-linkedin, .fa-facebook, .fa-envelope, .fa-github {
	color:black;
}

.project-images:hover {
	opacity: 0.5;
    filter: alpha(opacity=50);
    cursor:pointer;
}




@media only screen and (max-width: 500px) {
	.content h1 {
		font-size:2.5rem;
		margin-top:1rem;
}
	.main-page div {
		width:20rem;
	}

	.projects h1 {
		font-size:2rem;
		margin-top:0;
}
	.projects .transparent-box {
		width:90%;
		height:3rem;
	}

	.font-two {
		font-size:1rem;
	}

	.project-names div {
		height:30rem;
		width:18rem;
}
	.project-text {
		width:18rem;
	}
}

@media only screen and (max-width: 1650px) {
	.project-names div {
		width:20rem;
}
	.project-text {
		width:20rem;
	}

}



@media only screen and (max-width:980px) {
	.container {
		flex-direction:column;
		justify-content:center;
	}

	.project-names {
		width:90%;
		height:25rem;
	}
	.project-names div {
		height:19rem;
		width:19rem;
}
	.project-text{
		width:19rem;
		margin-top:-1rem;
		
	}
	
	
}

@media only screen and (max-width:1630px) {
	.project-names div {
		height:19rem;
	}