
div, section, td {
    border: 1px solid white;
}

/*Everything above is just for development to see the sections/divs*/
html{
	
	text-shadow: 1px 1px 1px #000, 3px 3px 5px black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing:border-box;
}

.font-two {
	font-family: 'Slabo 27px', serif;
	font-weight:500;
	letter-spacing:.1rem;
	font-size:1.5rem;
	text-shadow:none;
}

.content {
	margin:0 auto;
	font-family: 'Raleway', sans-serif;
}

.content h1 {
	font-size:4rem;
	margin-top:1rem;
}

.project-captions h1 {
	font-size:1.8rem;
	width:33.33%;
	height:4.7rem;
	text-align:center;
	float:left;
	display:flex;
	text-shadow: none;
	font-family: 'Raleway', sans-serif;
	background: rgba(224, 224, 224, 0.6);
	border:.6rem solid white;
}



.projects > .transparent-box {
	margin:1rem;
}



.transparent-box h1 {
	margin:.8rem;
	font-weight:200;
	letter-spacing:.3rem;
	font-size:3rem;
	text-align:center;
}


.transparent-box {
	background: rgba(224, 224, 224, 0.6);
	border-width:thin;
	border-color:LightGray;
}



.main-page > .content {
	background-image:url('http://i.imgur.com/rrKeLbO.jpg');
	background-size:cover;
	width:100%;
	height:40em;
	color:white;
}



.main-page div {
	text-align:center;
	width:27rem;
	height:10rem;
	margin:0 auto;
	margin-top:6rem;
	letter-spacing:.3rem;
	background: rgba(0, 0, 0, 0.7);
}

.project-names {
	text-align:center;
	display:flex;
	flex-direction:row;
	height:40rem;
	margin:0 auto;
	width:90%;
	justify-content:space-between;
	align-items:center;
	border:5px solid red;
	
}

.about-me-text, .ny-times-text, .karma-text {
	width:30rem;
	height:3rem;
	color:black;
	font-weight:400;
	border-width:thin;
	border-color:white;
	font-family: 'Raleway', sans-serif;
	background: rgba(224, 224, 224, 1);
}

.project-names div {
		height:30rem;
		flex-grow:100;
		width:30rem;
		border:1rem solid white;
		


}


.about-me-image {
	background-image:url('http://i.imgur.com/mjw2xOA.png');
	background-size:cover;
	
	
}

.ny-times-image {
	background-image:url('http://i.imgur.com/jWCfukx.png');
	background-size:cover;
	
}

.karma-image{
	background-image:url('http://i.imgur.com/gorEnTO.png');
	background-size:cover;
	
	
}













.contact-me h4 {
	
	text-align:center;
	margin-top:24rem;
	font-family: 'Raleway', sans-serif;
}

.contact-me {
	text-shadow: none;

}

.contact-me .content {
	text-align:center;
	margin:2rem;
	font-weight:300;
}

.fa-square {
	color:rgba(224, 224, 224, 5);
}

.fa:hover {
	cursor:pointer;
}

.fa-linkedin, .fa-facebook, .fa-envelope, .fa-github {
	color:black;
}

.about-me-image:hover, .ny-times-image:hover, .karma-image:hover {
	opacity: 0.5;
    filter: alpha(opacity=50);
    cursor:pointer;
}




@media only screen and (max-width: 500px) {
	.content h1 {
		font-size:2.5rem;
		margin-top:1rem;
}
	.main-page div {
		width:20rem;
	}

	.projects h1 {
		font-size:2rem;
}
	.projects .transparent-box {
		width:17rem;
		height:3rem;
	}

	.font-two {
		font-size:1rem;
	}
}

@media only screen and (max-width: 1650px) {
	.project-names {

		flex-direction:column;

		

	}
	.about-me-image {
		-webkit-order: 1;
		}
	.about-me-text {
	-webkit-order: 2;
	}
	.ny-times-image {
	-webkit-order:-4;
	}
	.ny-times-text {
		order:2;
	}
	.karma-image {
		order:3;
	}
	.karma-text {
		order:3;
	}

}



@media only screen and (max-width:700px) {
	
}